.App {
  text-align: center;
  background-color: #2C3333;
  background-image: url('./components/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 color: #b4cdf5;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







